"*":
  "atom-gdb": {}
  build:
    saveOnBuild: true
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.cpp": [
        "h"
      ]
    disabledPackages: [
      "autocomplete-clang"
      "git-diff"
      "activate-power-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "43be3f37-4645-210a-01a1-c24558189fc2"
  lime:
    command_line_extra: "-Dlocal -Dprofile"
  "omnisharp-atom":
    codeFormat: false
    codeLens: false
  tabs: {}
  welcome:
    showOnStartup: false
